.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: darkred;
}
.formSummaryError{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}